.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
