* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.158);
}

#header-wrapper {
    background-color: #ffffff;
    height: 41px;
    border-bottom: 1px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
}

#header {
    margin: 0 auto;
    max-width: 495px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#logo {
    float: left;
    max-width: 150px;
    height: 40px;
    padding: 10px 20px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#after-logo {
    clear: left;
}

#nav {
    float: right;
    padding: 10px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    
}

#after-nav {
    clear: right;
}

#nav a {
    color: black;
    padding-right: 15px;
}

#content {
    max-width: 495px;
    margin: 10px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
}

#content h1 {
    color: #4aaaa5;
    padding-left: 15px;
    padding-top: 15px;
}

#portfolio-image {
    float: left;
    width: 170.5px;
    height: 256px;
    margin: 10px;
}

#after-portfolio-image {
    clear: left;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    height: 40px;
}

#footer-text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}