body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

#header, #nav, #section, #aside, #footer {
    background: #ebebeb;
    text-align: center;
    padding: 40px 0px;
    margin: 10px 20px;
}

#article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 0px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    margin: 10px 10px;
    padding: 15px 0;
}

#section {
    width: 495px;
    float: left;
}

#aside {
    float: left;
    width: 385px;
    height: 255px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  